
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	  <div class="container">
		<footer><span class="text-success"><b>Yesterday is history, Tomorrow is mystery, but Today is a gift, that is why it is called the present</b></span></footer>
	  </div>
	</nav>	
  </div>
</body>
</html>