
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	  <div class="container">
		<footer><span class="text-success"><b>
		</b></span></footer>
	  </div>
	</nav>	
  </div>
</body>
</html>