<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Sunorth Admin </title>
<link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="shortcut icon" href="/images/favicon.ico" >
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
	<script>
			tinymce.init({selector:'.richtextarea'});
	</script> 
</head>

<body style="padding-top: 70px;padding-bottom: 70px;" data-spy="scroll" data-target=".navbar-sidebar"> 
 <div class="container">

