<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>CANTOP LOCAL TOUR </title>
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/bootstrap-theme.min.css">
  <link rel="shortcut icon" href="./img/favicon.ico" >
  <script src="./assets/lib/jquery.min.js"></script>
  <script src="./assets/lib/bootstrap.min.js"></script>

 
</head>

<body style="padding-top: 70px;padding-bottom: 70px;" data-spy="scroll" data-target=".navbar-sidebar"> 
 <div class="container">

