<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CANTOP TOURS & TRAVEL</title>
		<meta name="description" content="CANTOP Tour OP system">
		<meta name="author" content="Sun">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="./assets/css/bootstrap.min.css">	
		<!-- Optional theme -->
			
		<!--<link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">-->
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<!--<link href="plugins/fancybox/jquery.fancybox.css" rel="stylesheet">-->
		<!--<link href="plugins/fullcalendar/fullcalendar.css" rel="stylesheet">-->
		<!--<link href="plugins/xcharts/xcharts.min.css" rel="stylesheet">-->
		<!--<link href="plugins/select2/select2.css" rel="stylesheet">-->
	
		<link href="css/style.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="./assets/css/tour.css" media="screen">
		<link rel="stylesheet" href="./assets/css/print.css" media="print">
		<meta name="csrf-token" content="<%=csrfToken%>">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
<body>
<!--Start Header-->
<!--<div id="screensaver" class="hidden-print">-->
<!--	<canvas id="canvas"></canvas>-->
<!--	<i class="fa fa-lock" id="screen_unlock"></i>-->
<!--</div>-->
<!--<div id="modalbox" class="hidden-print">-->
<!--	<div class="devoops-modal">-->
<!--		<div class="devoops-modal-header">-->
<!--			<div class="modal-header-name">-->
<!--				<span>Basic table</span>-->
<!--			</div>-->
<!--			<div class="box-icons">-->
<!--				<a class="close-link">-->
<!--					<i class="fa fa-times"></i>-->
<!--				</a>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="devoops-modal-inner">-->
<!--		</div>-->
<!--		<div class="devoops-modal-bottom">-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<header id="top" class="navbar hidden-print">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
				<a href="/">CANTOP</a>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-xs-8 col-sm-4">
						<a href="#" class="show-sidebar">
						  <i class="fa fa-bars"></i>
						</a>
						<!--<div id="search">-->
						<!--	<input type="text" placeholder="search"/>-->
						<!--	<i class="fa fa-search"></i>-->
						<!--</div>-->
					</div>
					<div class="col-xs-4 col-sm-8 top-panel-right">
						<ul class="nav navbar-nav pull-right panel-menu">
			
							<li class="dropdown">
								<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
									<div class="avatar">
										<img src="assets/img/favicon.ico" class="img-rounded" alt="avatar" />
									</div>
									<i class="fa fa-angle-down pull-right"></i>
									<div class="user-mini pull-right">
										<span class="welcome"><%=user.username%></span>
										<span>Operation</span>
									</div>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#user">
											<i class="fa fa-user"></i>
											<span>Profile</span>
										</a>
									</li>
				
									<li>
										<a href="/signout">
											<i class="fa fa-power-off"></i>
											<span>Logout</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="notification" class="alert" role="alert" style="position: fixed;bottom: 0;"></div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid" >
	<div id="full-content" class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2 hidden-print">
			<ul class="nav main-menu">
				<li>
					<a href="#tour" class="active ajax-link">
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">Dashboard</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="#tour" class="dropdown-toggle">
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs glyphicon glyphicon-leaf"> Tours</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="#tour">Tour</a></li>
						<li><a class="ajax-link" href="#confirmation">Confirmation</a></li>
						<li><a class="ajax-link" href="#invoice">Invoice</a></li>

					</ul>
				</li>
				<li class="dropdown">
					<a href="#route" class="dropdown-toggle">
						<i class="fa fa-table"></i>
						 <span class="hidden-xs glyphicon glyphicon-star-empty"> Route</span>
					</a>

				</li>
				<li class="dropdown">
					<a href="#info" class="dropdown-toggle">
						<i class="fa fa-table"></i>
						 <span class="hidden-xs glyphicon glyphicon-option-vertical"> Partner</span>
					</a>
					<!--<ul class="dropdown-menu">-->
					<!--	<li><a class="ajax-link" href="#info">New</a></li>-->
					<!--	<li><a class="ajax-link" href="#info">Search</a></li>-->
						
					<!--</ul>-->
				</li>				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-pencil-square-o"></i>
						 <span class="hidden-xs glyphicon glyphicon-usd"> Accounting</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/forms_elements.html">Payable</a></li>
						<li><a class="ajax-link" href="ajax/forms_layouts.html">Receivable</a></li>
						
					</ul>
				</li>
				<li class="dropdown">
					<a href="#setting" class="dropdown-toggle">
						<i class="fa fa-desktop"></i>
						 <span class="hidden-xs glyphicon glyphicon-cog"> Configuration</span>
					</a>
					<!--<ul class="dropdown-menu">-->
					<!--	<li><a class="ajax-link" href="#setting">Information</a></li>-->
					<!--</ul>-->
				</li>
			
			</ul>
		</div>
		<!--Start Content-->
		<!--<div id="content" class="col-xs-12 col-sm-10">-->
		<!--	<div class="preloader">-->
		<!--		<img src="img/devoops_getdata.gif" class="devoops-getdata" alt="preloader"/>-->
		<!--	</div>-->
		<!--	<div id="ajax-content"></div>-->
		<!--</div>-->
		<div id="content" class="col-xs-10 col-sm-10 ">
			 <img src="img/devoops_getdata.gif" class="devoops-getdata" alt="preloader"/>
		</div>
		<!--End Content-->
			
		 <div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-hidden="true" class="hidden-print">
        </div><!-- /.modal -->		
	</div>

    <div class="footer" id="footer"> </div>  
	<script src="/assets/lib/require.min.js" data-main="/main"></script>
</div>
<!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="plugins/jquery/jquery-2.1.0.min.js"></script>
<!--<script src="plugins/jquery-ui/jquery-ui.min.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="plugins/bootstrap/bootstrap.min.js"></script>-->
<!--<script src="plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>-->
<!--<script src="plugins/tinymce/tinymce.min.js"></script>-->
<!--<script src="plugins/tinymce/jquery.tinymce.min.js"></script>-->
<!-- All functions for this theme + document.ready processing -->
<script src="js/devoops.js"></script>
</body>
</html>
