<!DOCTYPE html>
<html lang="en" data-framework="marionettejs">
<head>

  <title>CAPTOP TOUR SYSTEM</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="professional, consultant,solution, expert,troubleshooting,project">
   <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#home"><b><text class="text-success">CANTOP-Operation</text></b> - beta</a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class=""><a class="glyphicon glyphicon-home" href="#home">-Home <span class="sr-only">(current)</span></a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle glyphicon glyphicon-globe" data-toggle="dropdown" role="button" aria-expanded="false">-Operation  <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		           	<li><a href="#tourlist" class="glyphicon glyphicon-leaf">-Tour</a></li>
		            <li><a href="#voucher_list" class="glyphicon glyphicon-ok-sign">-Voucher</a></li>
		            <li><a href="#invoice_list" class="glyphicon glyphicon-usd">-Invoice</a></li>
		          </ul>
		        </li>
		
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle glyphicon glyphicon-th-list" data-toggle="dropdown" role="button" aria-expanded="false">-Information <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#route_list" class="glyphicon glyphicon-option-vertical">Route</a></li>
		            <li><a href="#agency_list" class="glyphicon glyphicon-option-vertical">Agency</a></li>
					<li><a href="#hotel_list" class="glyphicon glyphicon-option-vertical">Hotel</a></li>
		            <li><a href="#restaurant_list" class="glyphicon glyphicon-option-vertical">Restaurant</a></li>					
		          </ul>
		        </li>
		
				</ul>
    
			     <ul class="nav navbar-nav navbar-right">

			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" role="button" aria-expanded="false">-CANTOP<span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="/login" class="glyphicon glyphicon-log-out"> Logout</a></li>
			          </ul>
			        </li>
			      </ul>    
        				
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="container">
		
		
					<div id="notification"></div><!-- /#notification -->
				 	 <div id="main" class="row">
				 	 		
				 	 </div>
			        
			  		<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-hidden="true"></div><!-- /.modal -->	
		            <div class="footer" id="footer"> </div>            
		
		</div>
		<script src="/assets/lib/require.js" data-main="/main.js"></script>
 
		
</body>
</html>