<div id="login-template" class="container">
        <h3  class="text text-lg text-primary">Agency List</h3>
		<hr>	
			<form class="form-inline">
			  <div class="form-group">

			    <input type="text" class="form-control" id="tour-code" placeholder="Code">
			  </div>

			  <button type="submit" class="btn btn-primary btn_agency_search">Search</button>
			  <button type="submit" class="btn btn-primary btn_agency_add">Add New</button>
			  
			</form>		
		
			<br> 		    
				<table class="table">
					<tr>
						<th>Code</th>
						<th>Name</th>
						<th>Phone Number</th>
						<th>Contact</th>
						<th>Address</th>			
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>A001</td>
						<td>Sample Agency</td>
						<td>604-251-1021</td>
						<td>Mike</td>
						<td>123 19th ST Vancouver</td>
						<td><a class="glyphicon glyphicon-edit a_agency_edit" href="#"></a></td>	
					    <td><a class="glyphicon glyphicon-remove a_agency_delete"></a></td>
					</tr>
					
			 </table>	


</div>