<input type="hidden" name="no" value="<%=no%>">
	  <div class="col-sm-3">
	   <input class="form-control"  id="plateno<%=no%>" value="<%=plateno%>" placeholder="plate number">
	  </div>
	  <div class="col-sm-3">
	   <input class="form-control" value="<%=driver%>" id="dirver<%=no%>" placeholder="driver">
	  </div>
	  <div class="col-sm-3">
	   <input class="form-control" value="<%=seats%>"  id="seats<%=no%>" placeholder="seats">
	  </div>
	  <div class="col-sm-3">
	    <input class="form-control" value="<%=note%>"  id="note<%=no%>" placeholder="note">	    
	  </div>