
  

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="bushead<%=no%>">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#bus_list_item" href="#bus<%=no%>" aria-expanded="true" aria-controls="bus<%=no%>">
         <span class="text text-primary"> [<%=no%>] </span>
        </a>
        / <%=plateno%>/ <%=driver%> / <%=phone%> / <%=buscom%>
      </h4>
    </div>
    <%if(no == 1){%>
    <div id="bus<%=no%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="bushead<%=no%>">
    <%}else{%>
    <div id="bus<%=no%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bushead<%=no%>">
    <%}%>
      <div class="panel-body">
		  <div class="row">

		 <div class="col-sm-1">

		  <input class="form-control"  id="bno<%=no%>" value="<%=no%>" type="hidden">
		 </div>
		
		 <div class="col-sm-2">
		  <label>Bus Number</label>
		  <input class="form-control" value="<%=plateno%>"  id="plateno<%=no%>" >
		 </div>
		 <div class="col-sm-4">
		  <label>Driver</label>
		  <input class="form-control" value="<%=driver%>" id="driver<%=no%>" >
		 </div>
		 <div class="col-sm-3">
		  <label>Phone</label>
		  <input class="form-control telephone" value="<%=phone%>" id="bphone<%=no%>" type="tel" placeholder="(_ _ _)  _ _ _ - _ _ _ _">
		 </div>
		 <div class="col-sm-1">
		  <label>Seats</label>
		  <input class="form-control" value="<%=seats%>"  id="seats<%=no%>" type="number">
		 </div>
		 <div class="col-sm-offset-1  col-sm-10">
		  <label>Bus Company</label>
		   <input class="form-control buscom_input" value="<%=buscom%>"  id="buscom<%=no%>">	    
		 </div>
		  </div> 
      </div>
    </div>
  </div>    