<div id="voucher-info-template" class="container" style="padding-bottom: 100px;">
	<!-- header -->
	<div class="row">
		<table width="100%"  > 
			<tr>
				<td width="10%">
				<img src="../img/logo.png">
				</td>
				<td width="80%">
					<h2 class="text text-primary"><%=tourcom.name%> </h2>
				</td>
				<td width="10%">
				<h2 class="text text-primary"><small>Confirmation</small></h2>
				</td>
		</tr>
		</table>
	</div> 
	<div class="row">

		<table width="100%" class="table" > 
	
			<tr>
				<td width="5%">
				<br>
					<B>TO</B>: <br>

				</td>
				<td  width="45%">
					<br><br>
					<%=agency.name%><BR>
					<%=agency.address%><br>
					<%=agency.city%> <%=agency.province%><BR>
					<%=agency.countryt%>  <%=agency.postcode%> <BR><BR>
					
					Phone : <%=agency.telphone%> <br>
					Fax : <%=agency.fax%>				
				</td>	
				<td>
				<br>
					<b>Date</b> : <%=issuedate%> <BR><br>
					<b>Confirmation No.</b> : <%=no%>
					
					<br><br>
					<table border="1" width="100%">
						<tr>
							<td align="center"><b>Booking Date</b></td>
							<td align="center"><b>Your Contact</b></td>
							<td align="center"><b>Our Contact</b></td>
						</tr>
						<tr>
							<td align="center"><%=bookdate%></td>
							<td align="center"><%=agency.contact%></td>
							<td align="center"><%=op%></td>
						</tr>
					</table>
				</td>
	
			</tr>
	    </table>      
  	</div>
	
	<div class="row">
	<br>
	<!-- tour info -->
	<table width="100%" class="table" > 
		<tr>
			<th>Tour Name</th>
			<th>Passenger Name</th>
			<th>FareType</th>
			<th>Admission</th>
			<th>Meal</th>
			
		</tr>
		<%for(var i=0;i<tourist.length;i++){
		%>
		<tr>
			<%if(i==0){%>
			<td rowspan=<%=tourist.length%><b><%=tourname%></b>
			<br>
			<BR><b>Departure</b> :<%=departuredate%>
			<BR><b> Pickup</b> :<%=pickup%>
			
			</td>
			<%}%>
			<td>
			  <%=tourist[i].name%>
			</td>
			<td><%=tourist[i].fare%> </td>
			<td><%=tourist[i].admission%></td>
			<td><%=tourist[i].meal%></td>			
			
		</tr>
		<%}%>
	</table>			
	</div>
	
	<div class="row">
	 	<div class="col-md-12">
		<!-- remarks -->
		<div class="row remark_label">
		<hr>
			<b>Remarks:</b>
		</div>

		<div class="col-md-offset-1 remark_area" id="remark_area">
			<pre><%=remark%></pre>
		</div>
		</div>
	</div>

</div>

   <footer class="footer" style="position: fixed;bottom: 0;">
      <div class="container">
      <hr>
             <table  width="100%">
     	<tr><td align="center">This confirmation supersedes all previous confirmations, if any, with the same booking reference.<br>
     		Please verify the details and advise us of any error immediately.<br>
     		<%=tourcom.province%> Reg. #<%=tourcom.regno%>  Company Tel:<%=tourcom.telephone%>
     	</td></tr>
     </table>  
      </div>
    </footer>
