  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="grouphead<%=no%>">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#group_list_item" href="#group_panel<%=no%>" aria-expanded="true" aria-controls="group_panel<%=no%>">
         <span class="text text-primary">[Group - <%=no%>] <%=pickup%> - <b class="text text-success"> <%=status%></b> </span>
         <input class="form-control"  id="group<%=no%>" value="<%=no%>" type="hidden">
         <input class="form-control"  id="status<%=no%>" value="<%=status%>" type="hidden">
        </a>
      </h4>
    </div>
    <%if(status == 'Confirmed'){%>
    	<div id="group_panel<%=no%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="grouphead<%=no%>">
    <%}else{%>
    	<div id="group_panel<%=no%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="grouphead<%=no%>">
    <%}%>
      <div class="panel-body">

		  <div class="row">
 		   		<input type="hidden" id="agency_code_<%=no%>" value="<%=agency.code%>">
 		   		<input type="hidden" id="agency_city_<%=no%>" value="<%=agency.city%>">
				<input type="hidden" id="agency_province_<%=no%>" value="<%=agency.province%>">
				<input type="hidden" id="agency_country_<%=no%>" value="<%=agency.country%>">
				<input type="hidden" id="agency_postcode_<%=no%>" value="<%=agency.postcode%>">
				<input type="hidden" id="agency_fax_<%=no%>" value="<%=agency.fax%>">
				<input type="hidden" id="agency_contact_<%=no%>" value="<%=agency.contact%>">
				<input type="hidden" id="agency_payment_<%=no%>" value="<%=agency.payment%>">	
							
						
			   <div class="col-lg-2">
			  <label>Agency</label>
				<input  class="form-control passenger_agency" type="text" id="agency_name_<%=no%>" value="<%=agency.name%>">	
				
			    <br>
			  </div>  
	 
	 		   <div class="col-lg-2">
	 		   <label>Tel</label>
			  <input  class="form-control passenger_agency" type="text" id="agency_telphone_<%=no%>" value="<%=agency.telphone%>" disabled>
				</div>

		  	 <div class="col-lg-6">
		  	 <label>Address</label>
			  <input  class="form-control passenger_agency" type="text" id="agency_address_<%=no%>" value="<%=agency.address%>" disabled>
			  </div>
			  
			  <div class="col-lg-2">
			  <label>Booking Date</label>
			    <input type="date" class="form-control" value="<%=bookdate%>" id="bookdate<%=no%>" >
			    <br>
			  </div> 				  
		  </div>
		 	
		   <div  id="tourist_list_region"></div>			   
		   <div class="row">	
			   <div class="col-lg-12">
			  <label>Pick Up</label>
			    <input class="form-control" value="<%=pickup%>" id="pickup<%=no%>">
			    <br>
			  </div>  
			   <div class="col-lg-12">
			  <label>Drop Off</label>
			    <input class="form-control" value="<%=dropoff%>" id="dropoff<%=no%>">
			    <br>
			  </div>  
		   </div>		   

		   		   
		   <div class="row">		

			  <%if(status == 'New' && tourstatus == 'New'){%>
			  <div class="col-lg-offset-10 col-lg-2">	
			    <input type="button" class="form-control btn btn-default btn_confirm_group" value="Confirm" >
			    <br>
			  </div>
			  <%}%>				  
		  </div>
		  


      </div>
    </div>
  </div>              