<div id="home-template" class="container">
	<div role="tabpanel">
	
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#log" aria-controls="home" role="tab" data-toggle="tab">Trace Log</a></li>
	    <li role="presentation"><a href="#tourlist" aria-controls="profile" role="tab" data-toggle="tab">Current Tour List</a></li>
	
	  </ul>
	
	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="log">
	    <br>
	    <div class="row">
	    	<div class="col-md-2">
	    	</div>
	    	<div class="col-md-8">
	    	<span class="text text-danger">*Note: this is only for development tracking, so it will be removed after deployment.</span>
			<h2>Schedule</h2>
			<span class="text text-success">Week-1 : User Interface development</span><BR>
			Week-2 : Basic Information(agency/hotel/restaurant/route) input functions<br>
			Week-3/4 : Core business logic (order input, generate voucher/invoice)<br>
			Week-5 : System deployment and defects fix <br>
			
			<hr>
			<h2>Development Trace</h2>
			[2015/4/27] - define the <a href="#route_list">route</a> basic layout.  Follow up: 1. basic layout 2.confirm operation process 3. check all data fields 4. logo 5. tour status<br>
			
			[2015/4/26] - create pages for tour generation(basic info, itinerary info, passengers, buses...)<br>
			[2015/4/25] - create a sample page for <a href="#voucher_info">voucher</a> and <a href="#invoice_info">invoice</a>(this two pages are copied from existed sample, so need to change base on real requirement)<br>
			
			[2015/4/24] - create basic information UI<br>
			[2015/4/23] - initialize project : environment setup<br>
			[2015/4/22] - draft design documents
			</div>
		</div>
		</div>
	    
	    
	    <!--  -->
	    <div role="tabpanel" class="tab-pane" id="tourlist">
		
       <h3 class="text text-lg text-primary">Current Tour List</h3>

      
			<table class="table">
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Days</th>
					<th>Status</th>			
					<th></th>
				</tr>
				<tr>
					<td>00001</td>
					<td>4-day spetacular rockies sample</td>
					<td>4</td>
					<td>In Process</td>
					<td><a class="glyphicon glyphicon-eye-open" href="#tour_info/100"></a></td>
				</tr>
				<tr>
					<td>00002</td>
					<td>victor island</td>
					<td>2</td>
					<td>New</td>	
					<td><a class="glyphicon glyphicon-eye-open" href="#tour_info/100"></a></td>	
				</tr>
				<tr>
					<td>00003</td>
					<td>Vancouver one day tour</td>
					<td>1</td>
					<td>New</td>	
					<td><a class="glyphicon glyphicon-eye-open" href="#tour_info/100"></a></td>		
				</tr>
				<tr>
					<td>00004</td>
					<td>North coast </td>
					<td>4</td>
					<td>New</td>
					<td><a class="glyphicon glyphicon-eye-open" href="#tour_info/100"></a></td>		
				</tr>
				<tr>
					<td>00005</td>
					<td>7-day banff </td>
					<td>7</td>
					<td>New</td>	
					<td><a class="glyphicon glyphicon-eye-open" href="#tour_info/100"></a></td>	
				</tr>		
			</table>     
      
       </div>		
		
		</div>
	
	  </div>
	
	</div>      
</div>
