<div id="home-template" class="container">
	<div role="tabpanel">
	
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#log" aria-controls="home" role="tab" data-toggle="tab">Trace Log</a></li>
	    <li role="presentation"><a href="#tourlist" aria-controls="profile" role="tab" data-toggle="tab">Current Tour List</a></li>
	
	  </ul>
	
	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="log">
	    <br>
	    <div class="row">

	    	<div class="col-md-12">
	    	<span class="text text-danger">*Note: this is only for development tracking, so it will be removed after deployment.</span>
			<h2>Schedule</h2>
			<span class="text text-success">Week-1 : User Interface development</span><BR>
			<span class="text text-primary">Week-2 : Basic Information(agency/hotel/restaurant/route) input functions</span><br>
			Week-3/4 : Core business logic (order input, generate voucher/invoice)<br>
			Week-5 : System deployment and defects fix <br>
			
			<hr>
			<h2>Development Trace</h2>
			<table width=100% class="table">
			<tr><td>[2015/5/5]</td><td>Add payment and bus company for partner input</td></tr>
			<tr><td>[2015/5/1]</td><td>Finish create/query/update routes functions</td></tr>
			<tr><td>[2015/4/30]</td><td>Create new route with itinerary</td></tr>
			<tr><td>[2015/4/29]</td><td>Finish  partner information maintenance functions(add/edit/query)</td></tr>
			
			<tr><td>[2015/4/28]</td><td>1. Demo UI to client and get feedback </td></tr>
			<tr><td></td><td>2. Merge all agency/hotel/restaurant/admission to one page info.</td></tr>
			<tr><td></td><td>3. Add setting menu : company info, discount, tax rate </td></tr>
			<tr><td></td><td>4. Add company information for confirmation and invoice</td></tr>
			<tr><td></td><td>5. Enable remark in confirmation and invoice</td></tr>
			<tr><td>[2015/4/27]</td><td>define the <a href="#route_list">route</a> basic layout.  Follow up: 1. basic layout 2.confirm operation process 3. check all data fields 4. logo 5. tour status</td></tr>
			<tr><td>[2015/4/26]</td><td>create pages for tour generation(basic info, itinerary info, passengers, buses...)</td></tr>
			<tr><td>[2015/4/25]</td><td>create a sample page for <a href="#voucher_info">voucher</a> and <a href="#invoice_info">invoice</a>(this two pages are copied from existed sample, so need to change base on real requirement)</td></tr>
			<tr><td>[2015/4/24]</td><td>create basic information UI</td></tr>
			<tr><td>[2015/4/23]</td><td> initialize project : environment setup</td></tr>
			<tr><td>[2015/4/22]</td> <td>draft design documents</td></tr>
			</table>
			</div>
		</div>
		</div>
	    
	    
	    <!--  -->
	    <div role="tabpanel" class="tab-pane" id="tourlist">
		
       <h3 class="text text-lg text-primary">Current Tour List</h3>

      
			<table class="table">
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Days</th>
					<th>Status</th>			
					<th></th>
				</tr>
				<tr>
					<td>00001</td>
					<td>4-day spetacular rockies sample</td>
					<td>4</td>
					<td>In Process</td>
					<td><a class="glyphicon glyphicon-eye-open" href="#tour_info/100"></a></td>
				</tr>
			
			</table>     
      
       </div>		
		
		</div>
	
	  </div>
	
	</div>      
</div>
