<div id="home-template" class="container">
      <div>
       <h3 class="text text-lg text-primary">Current Tour List</h3>

      
			<table class="table">
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Days</th>
					<th>Status</th>			
					<th></th>
				</tr>
				<tr>
					<td>00001</td>
					<td>4-day spetacular rockies sample</td>
					<td>4</td>
					<td>In Process</td>
					<td><a class="glyphicon glyphicon-option-vertical" href="#tour_info"></a></td>
				</tr>
				<tr>
					<td>00002</td>
					<td>victor island</td>
					<td>2</td>
					<td>New</td>	
					<td><a class="glyphicon glyphicon-option-vertical" href="#tour_info"></a></td>	
				</tr>
				<tr>
					<td>00003</td>
					<td>Vancouver one day tour</td>
					<td>1</td>
					<td>New</td>	
					<td><a class="glyphicon glyphicon-option-vertical" href="#tour_info"></a></td>		
				</tr>
				<tr>
					<td>00004</td>
					<td>North coast </td>
					<td>4</td>
					<td>New</td>
					<td><a class="glyphicon glyphicon-option-vertical" href="#tour_info"></a></td>		
				</tr>
				<tr>
					<td>00005</td>
					<td>7-day banff </td>
					<td>7</td>
					<td>New</td>	
					<td><a class="glyphicon glyphicon-option-vertical" href="#tour_info"></a></td>	
				</tr>		
			</table>     
      
       </div>
</div>