<div id="information-template" class="container">
        <h3  class="text text-lg text-primary">Partner List</h3>
		<hr>	
			<form class="form-inline">
			  <div class="form-group">
				<div class="col-sm-3">
			  		<input type="text" class="form-control search_code typeahead" id="search_code"  placeholder="Code" autofocus>
			  	</div>	
			  	<div class="col-sm-3">
		      		<select class="form-control partner_types" id="partner_types">
		      		  <option value="ALL">--Select Type--</option>
					  <option value="A">Agency</option>
					  <option value="H">Hotel</option>
					  <option value="R">Restaurant</option>
					  <option value="S">Admission</option>
					  <option value="B">Bus Company</option>
					</select>
			  	</div>	

			  </div>
			  		 <button type="button" class="form-control btn btn-primary btn_info_search">Search</button>
	 		  	 	<button type="button" class="form-control btn btn-primary btn_info_add">Add New</button>			  
			</form>		
		
			<br> 
			<div id="info-list-region"></div>
		
</div>