
<div class="modal-dialog" style="width: 70%">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close dismiss" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"  id="myModalLabel">
            	<% if(name == ""){ %>
            	New Partner
            	<% }else{%>
            	<%=name%>
            	<% } %>
            	</h4>
        </div>
        <div class="modal-body">

		<div id="info-info-template" >

			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Type:</label>
			    <div class="col-sm-2">
		      		<select class="form-control" name="type">
		      		  <% if(type == 'A'){ %>
					  	<option value="A" selected>Agency</option>
					  	<option value="H" >Hotel</option>
					  	<option value="R">Restaurant</option>
					  	<option value="S">Admission</option>
					  	<option value="B">Bus Company</option>
					  <%}else if(type == 'H'){%>
					   	<option value="A">Agency</option>
					  	<option value="H" selected>Hotel</option>
					  	<option value="R">Restaurant</option>
					  	<option value="S">Admission</option>
					  	<option value="B">Bus Company</option>
					  <%}else if(type == 'R'){%>
					  	<option value="A" >Agency</option>
					  	<option value="H" >Hotel</option>
					  	<option value="R" selected>Restaurant</option>
					  	<option value="S">Admission</option>	
					  	<option value="B">Bus Company</option>				  
					  <%}else if(type == 'S'){%>
					  	<option value="A" >Agency</option>
					  	<option value="H" >Hotel</option>
					  	<option value="R">Restaurant</option>
					  	<option value="S" selected>Admission</option>	
					  	<option value="B">Bus Company</option>					  	
					  <%}else if(type == 'B'){%>
					  	<option value="A" >Agency</option>
					  	<option value="H" >Hotel</option>
					  	<option value="R" >Restaurant</option>
					  	<option value="S">Admission</option>					  
					  	<option value="B" selected>Bus Company</option>	
					  <%}%>
					

					</select>
			    </div>
			  </div>			
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Code:</label>
			    <div class="col-sm-2">
			      <input type="text" class="form-control" name="code" value="<%=code%>" placeholder="" autofocus required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Name:</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="name" value="<%=name%>" placeholder="" required>
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Chinese Name:</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="name_cn" value="<%=name_cn%>" placeholder="Chinese name" required>
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Payment:</label>
			    <div class="col-sm-2">
		      		<select class="form-control" name="payment">
	      		
		      		  <% if(payment == 'CREC'){ %>
					  	<option value="CREC" selected>Credit Card</option>
					  	<option value="VOUC" >Voucher</option>
					  	<option value="CHEQ">Cheque</option>
					  	<option value="CASH">Cash</option>
					  	<option value="OTHE">Other</option>
		      		  <%}else  if(payment == 'VOUC'){ %>
					  	<option value="CREC" >Credit Card</option>
					  	<option value="VOUC" selected>Voucher</option>
					  	<option value="CHEQ">Cheque</option>
					  	<option value="CASH">Cash</option>
					  	<option value="OTHE">Other</option>
		      		  <%}else  if(payment == 'CHEQ'){ %>
					  	<option value="CREC" >Credit Card</option>
					  	<option value="VOUC" >Voucher</option>
					  	<option value="CHEQ" selected>Cheque</option>
					  	<option value="CASH">Cash</option>	
					  	<option value="OTHE">Other</option>				  
		      		  <%}else  if(payment == 'CASH'){ %>
					  	<option value="CREC" >Credit Card</option>
					  	<option value="VOUC" >Voucher</option>
					  	<option value="CHEQ">Cheque</option>
					  	<option value="CASH" selected>Cash</option>
					  	<option value="OTHE">Other</option>				  	
		      		  <%}else  if(payment == 'OTHE'){ %>
					  	<option value="CREC" >Credit Card</option>
					  	<option value="VOUC" >Voucher</option>
					  	<option value="CHEQ">Cheque</option>
					  	<option value="CASH" >Cash</option>
					  	<option value="OTHE" selected>Other</option>				  	
					  
					  <%}%>
					  					

					</select>
			    </div>
			  </div>						  
			  
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Telephone:</label>
			    <div class="col-sm-5">
			      <input type="tel" class="form-control telephone" name="telphone" value="<%=telphone%>" placeholder="(_ _ _)  _ _ _ - _ _ _ _">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Fax:</label>
			    <div class="col-sm-5">
			      <input type="tel" class="form-control telephone" name="fax" value="<%=fax%>" placeholder="(_ _ _)  _ _ _ - _ _ _ _">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Contact:</label>
			    <div class="col-sm-5">
			      <input type="text" class="form-control" name="contact" value="<%=contact%>" placeholder="">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Cell:</label>
			    <div class="col-sm-5">
			      <input type="text" class="form-control" name="cellphone" value="<%=cellphone%>" placeholder="">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">E-Mail:</label>
			    <div class="col-sm-5">
			      <input type="email" class="form-control" name="email" value="<%=email%>" placeholder="">
			    </div>
			  </div>			  
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Address:</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="address" value="<%=address%>" placeholder="">
			    </div>
			  </div>

			  <div class="form-group">
			  	<label for="inputPassword3" class="col-sm-2 control-label"></label>
			    <div class="col-sm-2"><input type="text" class="form-control col-sm-3" name="city" value="<%=city%>" placeholder="city"></div>	
			    <div class="col-sm-2"><input type="text" class="form-control col-sm-3" name="province" value="<%=province%>" placeholder="province"></div>
			    <div class="col-sm-2"><input type="text" class="form-control col-sm-3" name="country" value="<%=country%>" placeholder="country">	</div>
			    <div class="col-sm-2"><input type="text" class="form-control col-sm-3 postcode" name="postcode" value="<%=postcode%>" placeholder="postcode"></div>
			  </div>
	
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Note:</label>
			    <div class="col-sm-8">
			      <textarea type="textarea" class="form-control" name="note" ><%=note%></textarea>
			    </div>
			  </div>			  		  			  
			  <!--<div class="form-group">-->
			  <!--  <div class="col-sm-offset-5 col-sm-11">-->
			  <!--    <input type="button" class="btn btn-primary btn_info_save" value="Save" name="btn_info_save"></input>-->
			  <!--  </div>-->
			  <!--</div>-->
			</form>	    
		    
			</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm confirm_no" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            <button type="button" class="btn btn-primary btn-sm confirm_yes" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
