<div id="information-template" class="container">
        <h3  class="text text-lg text-primary">Information List</h3>
		<hr>	
			<form class="form-inline">
			  <div class="form-group">

			    <input type="text" class="form-control search_code"  placeholder="Code" autofocus>
		      	<select class="form-control">
		      		  <option>---</option>
					  <option>Agency</option>
					  <option>Hotel</option>
					  <option>Restaurant</option>
					  <option>Admission</option>
					</select>			    
			  </div>
			  
			  <button type="submit" class="btn btn-primary btn_info_search">Search</button>
			  <button type="button" class="btn btn-primary btn_info_add">Add New</button>
			  
			</form>		
		
			<br> 
			<div id="info-list-region"></div>
		
</div>