<div id="info-info-template" class="container">
        <h3  class="text text-lg text-primary">Base Information</h3>
		<hr>	

			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Type:</label>
			    <div class="col-sm-2">
		      		<select class="form-control" name="type">
					  <option value="A">Agency</option>
					  <option value="H">Hotel</option>
					  <option value="R">Restaurant</option>
					  <option value="S">Admission</option>
					</select>
			    </div>
			  </div>			
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Code:</label>
			    <div class="col-sm-2">
			      <input type="text" class="form-control" name="code" value="A001" placeholder="A001" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Name:</label>
			    <div class="col-sm-7">
			      <input type="text" class="form-control" name="name" value="Test hotel" placeholder="Sample Hotel" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Telephone:</label>
			    <div class="col-sm-7">
			      <input type="tel" class="form-control" name="telphone" value="604-254-2569" placeholder="">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Contact:</label>
			    <div class="col-sm-7">
			      <input type="text" class="form-control" name="contact" value="sun" placeholder="Matt">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Address:</label>
			    <div class="col-sm-7">
			      <input type="text" class="form-control" name="address" value="201 25th ST Langley" placeholder="">
			    </div>
			  </div>

			  <div class="form-group">
			  	<label for="inputPassword3" class="col-sm-2 control-label"></label>
			    <div class="col-sm-2"><input type="text" class="form-control col-sm-3" name="city" value="Vancouver" placeholder="city"></div>	
			    <div class="col-sm-1"><input type="text" class="form-control col-sm-3" name="province" value="BC" placeholder="province"></div>
			    <div class="col-sm-2"><input type="text" class="form-control col-sm-3" name="country" value="Canada" placeholder="country">	</div>
			    <div class="col-sm-2"><input type="text" class="form-control col-sm-3" name="postcode" value="V2W3D3" placeholder="postcode"></div>
			  </div>
	
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Note:</label>
			    <div class="col-sm-7">
			      <textarea type="textarea" class="form-control" name="note" >test hotel note</textarea>
			    </div>
			  </div>			  		  			  
			  <div class="form-group">
			    <div class="col-sm-offset-5 col-sm-10">
			      <input type="submit" class="btn btn-primary btn_info_save" value="Save" name="btn_info_save"></input>
			    </div>
			  </div>
			</form>	    
		    
</div>