<div id="voucher-info-template" class="container">
	<!-- header -->
	<table width="100%" border=1> 
		<tr>
			<td colspan=5><img src="../img/logo.png"></td>
	
			<td colspan=6>
				Head office : 202-644 S.W. MARINE DR,VANCOUVER, B.C. CANADA V6P5Y1
			</td>
		</tr>
		<tr> <td align="center" colspan=11><H3>INVOICE</H3></td></tr>
		<tr>
			<td rowspan="5"  colspan=5>
				<B>TO</B>: <br>
				First Express Travel Center Limited<BR>
				#203-3884 S.W. Marine Drive<br>
				Vancouver B.C.<BR>
				Canada  V3ST3W <BR><BR>
				ATTN: HELEN <BR>
				Phone : (604)342-2345 <br>
				Fax : (604)342-2345
			</td>
			<td colspan=3>INVOICE NO.  :</td> <td colspan=3>723R4932492</td>
		</tr>	
		<tr>		<td colspan=3>DATE         :</td> <td colspan=3>JUL 22, 2015</td></tr>
		<tr>		<td colspan=3>AGENT        : </td><td colspan=3>TOKME</td></tr>
		<tr>		<td colspan=3>ISSUED BY    : </td><td colspan=3>MSIEJD</td></tr>
		<tr>		<td colspan=3>PAYMENT DUE  : </td><td colspan=3>AUG 3,2015</td></tr>
		
		<tr>
			<td colspan=11 >  <br>  </td>
		</tr>
		
		<tr>
			<td colspan=1>CFM NO. </td><td colspan=10>: 3294793248</td>
		</tr>
          
		<tr>
			<td colspan=1>TOUR NO.</td><td colspan=10>: E3405430</td>
		</tr>
		<tr>
			<td colspan=1>TOUR DESC  </td><td colspan=10>: 4-DAY ROCKIES</td>
		</tr>
		<tr>
			<td colspan=1>DEPARTURE DATE </td><td colspan=10>: SEP 30, 2015</td>
		</tr>
		<tr>
			<td  colspan=11><br></td>
		</tr>

	<!-- finance  info -->
		<tr>
			<td>PAX NO.</td>
			<td colspan=5>NAME</td>
			<td>RATE</td>
			<td>ROOM</td>
			<td>MEAL</td>
			<td>TYPE</td>
			<td>STATUS</td>
		</tr>
		
		<tr>
			<td>1</td>
			<td colspan=5></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td>PAX NO.</td>
			<td>FARE</td>
			<td>DISC</td>
			<td>HTL</td>
			<td>TAX</td>
			<td>MEAL</td>
			<td>MISC</td>
			<td>TKT</td>
			<td>G/HST</td>
			<td>G/HSTC</td>
			<td>TOTAL</td>
			
		</tr>
		
		<tr>
			<td>1</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>			
		</tr>
		<tr>
			<td>2</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>			
		</tr>	
		<tr>
			<td colspan=10 align="right">TOTAL:</td><td align="right">4,354.03</td>
		</tr>								
	<!-- meal plan -->
	
	<!-- remarks -->
		<tr>
			<td colspan="11">
				<h4><b>Remarks:</b></h4>
				This is just a sample page, so all information are not real. The layout is also copied from previous voucher, so we need create a new one by 
				referring this.
			</td>
		</tr>
	</table>
</div>