<div id="login-template" class="container">
       <h3  class="text text-lg text-primary">Invoice List</h3>
		<hr>	
			<form class="form-inline">
			  <div class="form-group">

			    <input type="text" class="form-control" id="exampleInputName2" placeholder="Code">
			  </div>

			  <button type="submit" class="btn btn-default">Search</button>
			</form>		
		
			<br>
			<table class="table">
				<tr>
					<th>NO.</th>
					<th>CFM NO.</th>
					<th>TOUR</th>
					<th>DATE</th>
					<th>PAY DUE</th>			
					<th>TO</th>
				</tr>

		 </table>	
</div>