
<div id="invoice-info-template" class="container" style="padding-bottom: 100px;">
	<!-- header -->
	<div class="row">
		<div class="col-xs-5">
		<img src="/assets/img/logo.png" >
		</div>
		<div class="col-xs-1 text-right" style="font-size:80%;">
			Office:
		</div>
		<div class="col-xs-6" style="font-size:80%;">
					<%=tourcom.address%>, <%=tourcom.city%> <%=tourcom.province%>, <%=tourcom.country%> <%=tourcom.postcode%><br>
					 Tel: <%=tourcom.telephone%>    Fax: <%=tourcom.fax%><br> 
					 B.C. Reg:#<%=tourcom.regno%>     GST:#13780 3771 RT0001
		</div>		

	</div> 
	<div class="row">
		<div class="col-xs-12 text-center">
			<hr>
			<h3><u>INVOICE</u></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1">
			<b>TO:</b>
		</div>
		<div class="col-xs-6">
					<%=agency.name%><BR>
					<%=agency.address%><br>
					<%=agency.city%> <%=agency.province%><BR>
					<%=agency.countryt%>  <%=agency.postcode%> <BR><BR>
					
					Phone : <%=agency.telphone%> <br>
					Fax : <%=agency.fax%>				
		</div>
		<div class="col-xs-5">
					<b>Date</b> : <%=issuedate%> <BR><br>
					<b>Invoice No.</b> : <%=no%>
					
					<br><br>
					<table border="1" width="100%">
						<tr>
							<td align="center"><b>Your Contact</b></td>
							<td align="center"><b>Our Contact</b></td>
						</tr>
						<tr>
							<td align="center"><%=agency.contact%></td>
							<td align="center"><%=op%></td>
						</tr>
					</table>		
		</div>
		
	   
  	</div>
	
	<div class="row">
	<br>
	<!-- tour info -->
	<table width="100%" class="table" > 
		<tr>
			<td><b>Tour Name</b></td>
			<td><b>Passenger Name</b></td>
			<td align="right"><b>Price</b></td>
			<td align="right"><b>Admission</b></td>
			<td align="right"><b>Meal</b></td>
			<td align="right"><b>Commission</b></td>
			<td align="right"><b>Adjust</b></td>
			<td align="right"><b>Amount</b></td>
			
		</tr>
		<%for(var i=0;i<tourist.length;i++){
		%>
		<tr>
			<%if(i==0){%>
			<td rowspan=<%=tourist.length%><b><%=tourname%></b>
			<br>
			<BR><b>Departure</b> :<%=departuredate%>
			
			</td>
			<%}%>
			<td>
			  <%=tourist[i].name%>
			</td>

			<td align="right"><%=tourist[i].fare%></td>
			<td align="right"><%=tourist[i].admission%></td>
			<td align="right"><%=tourist[i].meal%></td>
			<td align="right"><%=tourist[i].commission%></td>
			<td align="right"><%=tourist[i].adjustamount%></td>
			<td align="right"><%=tourist[i].amount%></td>
			
			
		</tr>
		<%}%>
		
		<tr>
		<td colspan="8" align="right">
			<table width="100%">
				<tr>
					<td width="90%" align="right">
						<b>Taxable Subtotal:</b>
					</td>
					<td align="right">
						<%=taxable%>
					</td>
				</tr>

				<tr>
					<td  align="right">
						<b>GST:</b>
					</td>
					<td align="right">
						<%=tax%>
					</td>
				</tr>
				<tr>
					<td  align="right">
						<b>Total:</b>
					</td>
					<td align="right">
						<%=total%>
					</td>
				</tr>


			</table>
		</td>
		
		</tr>
		
	</table>			
	</div>
	
	<div class="row">
	 	<div class="col-xs-12">
	 		
			<!-- remarks -->
			<label class="row invoice_remark_label" id="invoice_remark_label">
				<b id="label_remark">Remarks:</b>
			</label>
	
			<div class="remark_area" id="remark_area" >
			<%if(remark != ''){%>
				<pre  style="background-color: #FFFFFF;"><%=remark%></pre>
			<%}%>
			</div>
			
			<hr>
		</div>
	</div>

	<div class="row">
	 	<div class="col-xs-6" style="font-size:80%;">
			CANCELLATION POLICY<br>
			OVER 30 DAYS:&nbsp;&nbsp; C$50.00 HANDLING CHARGE PER PERSON<br>
			21-30 DAYS: &nbsp;&nbsp; 50% PENALTY<br>
			8-20 DAYS: &nbsp;&nbsp;75% PENALTY<br>
			WITHIN 7 DAYS: &nbsp;&nbsp;100% NON-REFUNDABLE<br> 
			INSURANCE OFFERED<br>
		</div>

	 	<div class="col-xs-6" style="font-size:80%;">

			E. & O.E.<br>
			For proper credit, please specify by writing invoice numbers
			being paid on your cheque, Receipt will be given on request.
			This invoice is payable upon presentation. Past Due accounts
			subject to service charge of 2% per month,plus any legal
			fees incurred in order to obtain payment for this invoice.
		</div>
	</div>	
	
</div>
<div id="editor"></div>
<!-- 
   <footer class="footer" style="position: fixed;bottom: 0;">
      <div class="container">
      <hr>
             <table  width="100%">
		     	<tr><td align="center">
 
					Please verify the details and advise us of any error immediately.<br>
					Please remit payment within 7 days, interest of 2% per month on overdue account.<br>
					
					
		     		
		
		     	</td></tr>
		     </table>  
      </div>
    </footer>
 -->
   
