<div id="login-template" class="container">
       <h3  class="text text-lg text-primary">Invoice List</h3>
		<hr>	
			<form class="form-inline">
			  <div class="form-group">

			    <input type="text" class="form-control" id="exampleInputName2" placeholder="Code">
			  </div>

			  <button type="submit" class="btn btn-primary">Search</button>
			</form>		
		
			<br>
			<table class="table">
				<tr>
					<th>NO.</th>
					<th>CFM NO.</th>
					<th>TOUR</th>
					<th>DATE</th>
					<th>PAY DUE</th>			
					<th>TO</th>
				</tr>
				<tr>
					<td><a href="#invoice_info">T0193</a></td>
					<td><a href="#voucher_info">3023432</a></td>
					<td>4 DAY Rockies</td>
					<td>2015-5-20</td>
					<td>2015-9-29</td>
					<td><a href="#agency_info">First Express</a></td>
				</tr>
		 </table>	
</div>