<div id="login-template" class="container">
       <h3  class="text text-lg text-primary">Invoice List</h3>
       <hr>
			<form class="form-inline">
			  <div class="form-group ">
				<div class="col-md-3">
			    	<input type="text" class="form-control search_code" id="tourcode" placeholder="Tour code">
			    </div>
			    <div class="col-md-3">
			    	<input type="text" class="form-control search_invoiceno" id="invoiceno" placeholder="Invoice NO.">
			    </div>
			    <div class="col-md-3">
			    	<input type="text" class="form-control search_agencycode typeahead" id="agencycode" placeholder="Agency Code">
			    </div>
			    <div class="col-md-3">
			    	 <button type="button" class="btn btn-primary btn_invoice_search">Search</button>
			    </div>
			  </div>

			 
			</form>		
		
			<br>       
	
		<div id="invoice-list-region"></div>	
</div>