<div id="voucher-info-template" class="container" style="padding-bottom: 100px;">
	<!-- header -->
	<div class="row">
		<table width="100%"  > 
			<tr>
				<td width="10%">
				<img src="../img/logo.png">
				</td>
				<td width="80%">
					<h2 class="text text-primary"><%=tourcom.name%> </h2>
				</td>
				<td width="10%">
				<h2 class="text text-primary"><small>Invoice</small></h2>
				</td>
		</tr>
		</table>
	</div> 
	<div class="row">
		<table width="100%" class="table" > 	
			<tr>
				<td width="5%">
				<br>
					<B>TO</B>: <br>

				</td>
				<td  width="45%">
					<br><br>
					<%=agency.name%><BR>
					<%=agency.address%><br>
					<%=agency.city%> <%=agency.province%><BR>
					<%=agency.countryt%>  <%=agency.postcode%> <BR><BR>
					
					Phone : <%=agency.telphone%> <br>
					Fax : <%=agency.fax%>				
				</td>	
				<td>
				<br>
					<b>Date</b> : <%=issuedate%> <BR><br>
					<b>Invoice No.</b> : <%=no%>
					
					<br><br>
					<table border="1" width="100%">
						<tr>
							<td align="center"><b>Your Contact</b></td>
							<td align="center"><b>Our Contact</b></td>
						</tr>
						<tr>
							<td align="center"><%=agency.contact%></td>
							<td align="center"><%=op%></td>
						</tr>
					</table>
				</td>
	
			</tr>
	    </table>      
  	</div>
	
	<div class="row">
	<br>
	<!-- tour info -->
	<table width="100%" class="table" > 
		<tr>
			<td><b>Tour Name</b></td>
			<td><b>Passenger Name</b></td>
			<td align="right"><b>Price</b></td>
			<td align="right"><b>Admission</b></td>
			<td align="right"><b>Meal</b></td>
			<td align="right"><b>Commission</b></td>
			<td align="right"><b>Amount</b></td>
			
		</tr>
		<%for(var i=0;i<passenger.length;i++){
		%>
		<tr>
			<%if(i==0){%>
			<td rowspan=<%=passenger.length%><b><%=tourname%></b>
			<br>
			<BR><b>Departure</b> :<%=departuredate%>
			
			</td>
			<%}%>
			<td>
			  <%=passenger[i].name%>
			</td>

			<td align="right"><%=passenger[i].fee%></td>
			<td align="right"><%=passenger[i].admission%></td>
			<td align="right"><%=passenger[i].meal%></td>
			<td align="right"><%=passenger[i].commission%></td>
			<td align="right"><%=passenger[i].amount%></td>
			
			
		</tr>
		<%}%>
		
		<tr>
		<td colspan="7" align="right">
			<table width="100%">
				<tr>
					<td width="90%" align="right">
						<b>Taxable Subtotal:</b>
					</td>
					<td align="right">
						<%=taxable%>
					</td>
				</tr>
				<tr>
					<td  align="right">
						<b>Non-Taxable Subtotal:</b>
					</td>
					<td align="right">
						<%=nontaxable%>
					</td>
				</tr>
				<tr>
					<td  align="right">
						<b>GST:</b>
					</td>
					<td align="right">
						<%=tax%>
					</td>
				</tr>
				<tr>
					<td  align="right">
						<b>Total:</b>
					</td>
					<td align="right">
						<%=total%>
					</td>
				</tr>


			</table>
		</td>
		
		</tr>
		
	</table>			
	</div>
	
	<div class="row">
	 	<div class="col-md-12">
	 		<hr>
	 		
			<!-- remarks -->
			<label class="row invoice_remark_label" id="invoice_remark_label">
				<b id="label_remark">Remarks:</b>
			</label>
	
			<div class="col-md-offset-1 remark_area" id="remark_area">
				<%=remark%>
			</div>
		</div>
	</div>

</div>

   <footer class="footer" style="position: fixed;bottom: 0;">
      <div class="container">
      <hr>
             <table  width="100%">
		     	<tr><td align="center">
		     	<%=tourcom.address%>, <%=tourcom.city%> <%=tourcom.province%>, <%=tourcom.country%> <%=tourcom.postcode%> Tel:<%=tourcom.telephone%> Fax:<%=tourcom.fax%><br> 
					Please verify the details and advise us of any error immediately.<br>
					Please remit payment within 7 days, interest of 2% per month on overdue account.<br>
					B.C. Reg.#<%=tourcom.regno%>
		     	
		
		     	</td></tr>
		     </table>  
      </div>
    </footer>
