<link rel="stylesheet" href="http://getbootstrap.com/examples/signin/signin.css">
<div id="login-template" class="container">
	<table width="100%">
		<tr><td align="center"><h1><span class="text text-success">CANTOP Local Tour System</span></h1>
		<br><br>
		</td></tr>
		<tr><td align="center">

			 <form class="form-signin" >
			 	
		        <label for="inputEmail" class="sr-only">User Name</label>
		        <input type="text" id="inputEmail" class="form-control" placeholder="user name" required autofocus>
		        <label for="inputPassword" class="sr-only">Password</label>
		        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
		        <a type="button" id="login-btn_" class="btn btn-lg btn-primary btn-block"  href="#home">Sign in</a>
		      </form>
		</td></tr>
		</table>

</div>