
<div class="row">	
      <input type="hidden" id="scenic_id_<%=day%>_<%=no%>" value="<%=_id%>">
			<input type="hidden" id="scenic_no_<%=day%>_<%=no%>" value="<%=no%>">
		  <input type="hidden" id="scenic_code_<%=day%>_<%=no%>" value="<%=code%>">
		 <!-- <input type="hidden" id="scenic_city_<%=day%>_<%=no%>" value="<%=city%>">-->
			<!--<input type="hidden" id="scenic_province_<%=day%>_<%=no%>" value="<%=province%>">-->
			<!--<input type="hidden" id="scenic_country_<%=day%>_<%=no%>" value="<%=country%>">-->
			<!--<input type="hidden" id="scenic_postcode_<%=day%>_<%=no%>" value="<%=postcode%>">-->
			<!--<input type="hidden" id="scenic_fax_<%=day%>_<%=no%>" value="<%=fax%>">-->
			<!--<input type="hidden" id="scenic_contact_<%=day%>_<%=no%>" value="<%=contact%>">  	 	 -->
   <div class="col-sm-offset-1 col-sm-3">
   <br>
  	<input class="form-control schedule_scenic typeahead"  value="<%=name%>"  id="scenic_name_<%=day%>_<%=no%>" placeholder="admission code">
  	</div>
  <div class="col-sm-2">
  <br>
    <input class="form-control" value="<%=telphone%>"  id="scenic_telphone_<%=day%>_<%=no%>" placeholder="Telphone" disabled>
  </div>
  <div class="col-sm-2">
  <br>
    <input class="form-control" value="<%=payment%>" id="scenic_payment_<%=day%>_<%=no%>" placeholder="Payment" disabled>
  </div>
  <div class="col-sm-4">
  <br>
    <input class="form-control" value="<%=address%>"  id="scenic_address_<%=day%>_<%=no%>" placeholder="Address" disabled>
  </div>	  	  

 </div>

