<div id="login-template" class="container">
       <h3  class="text text-lg text-primary">Payable List</h3>
       <hr>
			<form class="form-inline">
			  <div class="form-group ">

			    <input type="text" class="form-control search_code" id="tourcode" placeholder="Tour code">
			  </div>

			  <button type="button" class="btn btn-primary btn_payable_search">Search</button>
			  <button type="button" class="btn btn-primary btn_payable_pay">Pay</button>
			</form>		
		
			<br>       
	
		<div id="payable-list-region"></div>	
</div>