<div class="container">
	<h1>Name List</h1>
	
	<table class="table" border="1" width="100%">
		<tr>
			<th>No.</th>
			<th>Name</th>
			<th>Room Type</th>
			<th>Room #</th>						
			
		</tr>
		
		<%
			var pno = 1;
		for(var i=0;i<group.length;i++){
			var passengers = group[i].passenger;
			for(var j=0;j<passengers.length;j++){
			
		%>
		
		<tr>
			<td><%=pno%></td>
			<td><%=passengers[j].name%></td>
			<td><%=passengers[j].roomtype%></td>
			<td></td>

		</tr>
		<% pno++}}%>
		
	</table>
</div>