<div id="login-template" class="container">
       <h3  class="text text-lg text-primary">Restaurant List</h3>
		<hr>	
			<form class="form-inline">
			  <div class="form-group">

			    <input type="text" class="form-control" id="tour-code" placeholder="Code">
			  </div>

			  <button type="submit" class="btn btn-primary btn_restaurant_search">Search</button>
			  <button type="submit" class="btn btn-primary btn_restaurant_add">Add New</button>
			  
			</form>		
		
			<br>
			<table class="table">
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Phone Number</th>
					<th>Address</th>			
					<th></th>
					<th></th>

				</tr>
				<tr>
					<td>R001</td>
					<td>Sample Restaurant</td>
					<td>604-253-1552</td>
					<td>1020 main ST  Vancouver</td>
					<td><a class="glyphicon glyphicon-edit a_restaurant_edit" href="#"></a></td>	
					<td><a class="glyphicon glyphicon-remove a_restaurant_delete"></a></td>
				</tr>
			 </table>		

</div>