<div id="tour-info-template" class="container">

	 <div class="row">	
	 	<div class="col-md-12">

	      <h2 class="text text-primary">4 - day Banff route </h2>
		 	<hr>
				  <form role="form" class="form-horizontal">
				    <div class="form-group">
				      <div class="col-sm-1"><label>Code:</label><input type="text" class="form-control" value="T001" disabled></div>	
				      <div class="col-sm-10"><label>Name:</label><input type="text" class="form-control"  value="4 - day Banff route" placeholder="example : 3-day Banff tour"></div>
				      <div class="col-sm-1"><label>Days:</label><input type="number" class="form-control"  value="3" placeholder="4"></div>
				      
				    </div>
				    
					<div class="panel-group" id="fee" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingfee1">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#fee" href="#collapsefee1" aria-expanded="true" aria-controls="collapsefee1">
					          Tour Fee
					        </a>
					      </h4>
					    </div>
					    <div id="collapsefee1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfee1">
					      <div class="panel-body">
				    
							    <div   class="form-group">
							      <div class="col-sm-3"><label>Adult:</label>
										<div class="input-group">
									      <div class="input-group-addon">$</div>
									      <input type="number" class="form-control" id="exampleInputAmount" placeholder="0.00">
									    </div>					  
								  </div>
							      <div class="col-sm-3"><label>Senior:</label>
										<div class="input-group">
									      <div class="input-group-addon">$</div>
									      <input type="number" class="form-control" id="exampleInputAmount" placeholder="0.00">
									    </div>
								  </div>
							      <div class="col-sm-3"><label>Child(2~11):</label>
										<div class="input-group">
									      <div class="input-group-addon">$</div>
									      <input type="number" class="form-control" id="exampleInputAmount" placeholder="0.00">
									    </div>						
									</div>
							      <div class="col-sm-3"><label>Infant(under 2):</label>
										<div class="input-group">
									      <div class="input-group-addon">$</div>
									      <input type="number" class="form-control" id="exampleInputAmount" placeholder="0.00">
									    </div>						
									</div>					  
							    </div>	
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingfee2">
					      <h4 class="panel-title">
					        <a class="collapsed" data-toggle="collapse" data-parent="#fee" href="#collapsefee2" aria-expanded="false" aria-controls="collapsefee2">
					           Admission Fee
					        </a>
					      </h4>
					    </div>
					    <div id="collapsefee2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfee2">
					      <div class="panel-body">
					           <div class="col-sm-3"><label>Adult:</label>
									<div class="input-group">
								      <div class="input-group-addon">$</div>
								      <input type="number" class="form-control" id="exampleInputAmount" placeholder="0.00">
								    </div>					  
							  </div>
						      <div class="col-sm-3"><label>Senior:</label>
									<div class="input-group">
								      <div class="input-group-addon">$</div>
								      <input type="number" class="form-control" id="exampleInputAmount" placeholder="0.00">
								    </div>
							  </div>
						      <div class="col-sm-3"><label>Child(2~11):</label>
									<div class="input-group">
								      <div class="input-group-addon">$</div>
								      <input type="number" class="form-control" id="exampleInputAmount" placeholder="0.00">
								    </div>						
								</div>
						      <div class="col-sm-3"><label>Infant(under 2):</label>
									<div class="input-group">
								      <div class="input-group-addon">$</div>
								      <input type="number" class="form-control" id="exampleInputAmount" placeholder="0.00">
								    </div>						
								</div>	
						        
					      </div>
					    </div>
					  </div>

					</div>				    

				    
				    
				  </form>
				<hr>
		</div><!-- end of col -->
 	  </div>	
 		
 	 <div class="row">
 	 	<div class="col-md-12">
 	 	<!-- itinerary -->
 	 	
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          Day1
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
 					<form role="form" class="form-horizontal">
					    <div class="form-group">
					      <div class="col-sm-4"><label>From:</label><input type="text" class="form-control" placeholder="Vancouver"></div>
					      <div class="col-sm-4"><label>Via:</label><input type="text" class="form-control" placeholder="Banff"></div>
					      <div class="col-sm-4"><label>To:</label><input type="text" class="form-control" placeholder="Calgary"></div>
					    </div>			  
			
					    <div class="form-group">
					      <label class="col-sm-2" for="inputPassword1">Itinerary:</label>
					      <div class="col-sm-10"><input type="text" class="form-control" id="inputPassword1" placeholder="9:00AM Departure from Vancouver airport"></div>
					    </div>	
					    <div class="form-group">
					      <label class="col-sm-2" for="inputPassword1"></label>
					      <div class="col-sm-10"><input type="text" class="form-control" id="inputPassword1" placeholder="12:00PM Kelowna"></div>
					    </div>	
					    <div class="form-group">
					      <label class="col-sm-2" for="inputPassword1"></label>
					      <div class="col-sm-10"><input type="text" class="form-control" id="inputPassword1" placeholder="18:00PM Banff"></div>
					    </div>	
						    			    			    
					  </form>		        

		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Day2
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
 					<form role="form" class="form-horizontal">
					    <div class="form-group">
					      <div class="col-sm-4"><label>From:</label><input type="text" class="form-control" placeholder="Vancouver"></div>
					      <div class="col-sm-4"><label>Via:</label><input type="text" class="form-control" placeholder="Banff"></div>
					      <div class="col-sm-4"><label>To:</label><input type="text" class="form-control" placeholder="Calgary"></div>
					    </div>			  
			
					    <div class="form-group">
					      <label class="col-sm-2" for="inputPassword1">Itinerary:</label>
					      <div class="col-sm-10"><input type="text" class="form-control" id="inputPassword1" placeholder="9:00AM Departure from Vancouver airport"></div>
					    </div>	
					    <div class="form-group">
					      <label class="col-sm-2" for="inputPassword1"></label>
					      <div class="col-sm-10"><input type="text" class="form-control" id="inputPassword1" placeholder="12:00PM Kelowna"></div>
					    </div>	
					    <div class="form-group">
					      <label class="col-sm-2" for="inputPassword1"></label>
					      <div class="col-sm-10"><input type="text" class="form-control" id="inputPassword1" placeholder="18:00PM Banff"></div>
					    </div>	
						    			    			    
					  </form>		        

		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          Day3
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
 					<form role="form" class="form-horizontal">
					    <div class="form-group">
					      <div class="col-sm-4"><label>From:</label><input type="text" class="form-control" placeholder="Vancouver"></div>
					      <div class="col-sm-4"><label>Via:</label><input type="text" class="form-control" placeholder="Banff"></div>
					      <div class="col-sm-4"><label>To:</label><input type="text" class="form-control" placeholder="Calgary"></div>
					    </div>			  
			
					    <div class="form-group">
					      <label class="col-sm-2" for="inputPassword1">Itinerary:</label>
					      <div class="col-sm-10"><input type="text" class="form-control" id="inputPassword1" placeholder="9:00AM Departure from Vancouver airport"></div>
					    </div>	
					    <div class="form-group">
					      <label class="col-sm-2" for="inputPassword1"></label>
					      <div class="col-sm-10"><input type="text" class="form-control" id="inputPassword1" placeholder="12:00PM Kelowna"></div>
					    </div>	
					    <div class="form-group">
					      <label class="col-sm-2" for="inputPassword1"></label>
					      <div class="col-sm-10"><input type="text" class="form-control" id="inputPassword1" placeholder="18:00PM Banff"></div>
					    </div>	
						    			    			    
					  </form>		        
		        
		      </div>
		    </div>
		  </div>
		</div> 	 	

		</div>
 		</div><!-- end of itinerary row -->
 		
 		<div class="row">

		    <div class="form-group">
		      <div class="col-sm-12"><label>Note:</label><textarea  class="form-control" ></textarea>
		      <button class="btn btn-primary">Save</button>
		      </div>
		    </div> 			
 					
 		</div>
 	 </div><!-- end of row -->	
	
</div>