<div id="route-list-template" class="container">
       <h3  class="text text-lg text-primary">Itinerary Information</h3>
		<hr>	

			<form class="form-inline">
			  <div class="form-group">
				  <input type="text" class="form-control search_code typeahead" id="search_code" placeholder="Code" autofocus required>
			  </div>			  
			  <button type="button" id="search_input" name="search_input" class="btn btn-primary btn_route_search">Search</button>
			  <button type="button" class="btn btn-primary btn_route_new">Add New</button>
			</form>				    
			<br><br>  			  
			<div id="route-list-region"></div>	
			</div>

</div>