<div id="route-list-template" class="container">
       <h3  class="text text-lg text-primary">Route List</h3>
		<hr>	
		<div role="tabpanel">
		
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation"  class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">List</a></li>
		    <li role="presentation"><a href="#new" aria-controls="new" role="tab" data-toggle="tab">New </a></li>
		    
		  </ul>
		
		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane " id="new">
		    <br><br>
			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Code:</label>
			    <div class="col-sm-2">
			      <input type="text" class="form-control" id="inputEmail3" placeholder="new route code" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Name:</label>
			    <div class="col-sm-7">
			      <input type="text" class="form-control" id="inputPassword3" placeholder="" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Days:</label>
			    <div class="col-sm-2">
			      <input type="number" class="form-control" id="inputPassword3" placeholder="" required>
			    </div>
			  </div>
	
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Note:</label>
			    <div class="col-sm-7">
			      <textarea type="textarea" class="form-control" id="inputPassword3" ></textarea>
			    </div>
			  </div>			  		  			  
			  <div class="form-group">
			    <div class="col-sm-offset-5 col-sm-10">
			      <button type="submit" class="btn btn-primary route_new" id="btn_tout_save">Save</button> *after saving to add itinerary information
			    </div>
			  </div>
			</form>	    
		    
		    </div>
		    <div role="tabpanel" class="tab-pane active" id="list">
		    <br><br>
			<table class="table">
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Days</th>
					<th>Note</th>			
					<th width=5%></th>
					<th width=3%></th>
					<th width=3%></th>
				</tr>
				
				<tr>
					<td><a href="#" class="a_route_code">R001</a></td>
					<td>3-day Banff Tour</td>
					<td>3</td>
					<td>demo</td>
					<td><button class="btn btn-primary btn_route_start">Start</button></td>
					<td><a class="glyphicon glyphicon-edit a_route_edit" href="#"></a></td>	
					<td><a class="glyphicon glyphicon-remove a_route_delete"></a></td>
				</tr>				
		   </table>		
			</div>
		  </div>
		
		</div>

</div>