	<input type="hidden"  class="form-control" id="admission_no_<%=no%>" value="<%=no%>">
          <%if(no > 1 && (no % 5 == 1)){%>
     	<div class="col-sm-offset-1 col-sm-2">

     <%}else{%>
     	<div class="col-sm-2">
     <%}%>
		<input type="text"  class="form-control" id="admission_name_<%=no%>" value="<%=name%>" placeholder="admission type">

		<div class="input-group">
	      <div class="input-group-addon">$</div>
	      <input type="number" step="0.01" class="form-control" id="admission_price_<%=no%>" value="<%=price%>" placeholder="0.00">
	    </div>	
				  
  </div>