<div id="tour-info-template" class="container">

	 <div class="row">	
	 	<div class="col-md-12">

	      <h2 class="text text-primary">Route Information </h2>
		 	<hr>
		    <form role="form" class="form-horizontal">
			    <div class="form-group">
			      <div class="col-sm-2"><label>Code:</label><input type="text" class="form-control" name="code" value="<%=code%>" ></div>	
			      <div class="col-sm-10"><label>Name:</label><input type="text" class="form-control" name="name" value="<%=name%>" placeholder=""></div>
			      <input type="hidden" name="days" id="days" value="<%=days%>">
			    </div>
			
			<!-- fee -->
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Fee</h3>
			  </div>
			  <div class="panel-body">
			    <div   class="form-group">
			      <div class="col-sm-2">
						<br>
					      <label>Tour :</label>
							
				  </div>								    
			      <div class="col-sm-2"><label>Adult:</label>
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01" class="form-control" name="fee_tour_adult" value="<%=fee_tour_adult%>" placeholder="0.00">
					    </div>					  
				  </div>
			      <div class="col-sm-2"><label>Senior:</label>
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_tour_senior" value="<%=fee_tour_senior%>"  placeholder="0.00">
					    </div>
				  </div>
			      <div class="col-sm-2"><label>Youth:</label>
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_tour_youth" value="<%=fee_tour_youth%>"  placeholder="0.00">
					    </div>						
					</div>								  
			      <div class="col-sm-2"><label>Child:</label>
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_tour_child" value="<%=fee_tour_child%>"  placeholder="0.00">
					    </div>						
					</div>
			      <div class="col-sm-2"><label>Infant:</label>
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_tour_infant" value="<%=fee_tour_infant%>"  placeholder="0.00">
					    </div>						
					</div>					  
			    </div>				    

				 <div   class="form-group">
			      <div class="col-sm-2">

							<label>Meal :</label>
				  </div>								    
			      <div class="col-sm-2">
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_meal_adult" value="<%=fee_meal_adult%>"  placeholder="0.00">
					    </div>					  
				  </div>
			      <div class="col-sm-2">
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_meal_senior" value="<%=fee_meal_senior%>"  placeholder="0.00">
					    </div>
				  </div>
			      <div class="col-sm-2">
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_meal_youth" value="<%=fee_meal_youth%>"  placeholder="0.00">
					    </div>						
					</div>								  
			      <div class="col-sm-2">
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_meal_child" value="<%=fee_meal_child%>"  placeholder="0.00">
					    </div>						
					</div>
			      <div class="col-sm-2">
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_meal_infant" value="<%=fee_meal_infant%>"  placeholder="0.00">
					    </div>						
					</div>					  
			    </div>	
		        			    

				 <div   class="form-group">
			      <div class="col-sm-2">

							<label>Admission:</label>
				  </div>									 
			      <div class="col-sm-2">
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_adm_adult" value="<%=fee_adm_adult%>"  placeholder="0.00">
					    </div>					  
				  </div>
			      <div class="col-sm-2">
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_adm_senior" value="<%=fee_adm_senior%>"  placeholder="0.00">
					    </div>
				  </div>
			      <div class="col-sm-2">
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_adm_youth" value="<%=fee_adm_youth%>"  placeholder="0.00">
					    </div>						
					</div>								  
			      <div class="col-sm-2">
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_adm_child" value="<%=fee_adm_child%>"  placeholder="0.00">
					    </div>						
					</div>
			      <div class="col-sm-2">
						<div class="input-group">
					      <div class="input-group-addon">$</div>
					      <input type="number" step="0.01"  class="form-control" name="fee_adm_infant" value="<%=fee_adm_infant%>"  placeholder="0.00">
					    </div>						
					</div>					  
			    </div>				    
			  </div>
			</div><!-- end of fee -->


			<!-- end tab content  -->	
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Itinerary</h3>
			  </div>
			  <div class="panel-body" id="itinerary-list-region">
			    
			  </div>
			</div>
						    
			<!-- note -->
		    <div class="form-group">
		      <div class="col-sm-12"><label>Note:</label><textarea name="note" class="form-control" rows="5"><%=note%></textarea>
		      <br>
		      <input type="button" class="btn btn-primary btn_route_save" value="Save"></input>
		      
	     
		      </div>
		    </div> 				    
			  </form>

		</div><!-- end of col -->
 	  </div>	

	
</div>