<div class="row">
  <div class="col-sm-2">
    <label>DAY</label>
  </div>
  <div class="col-sm-3">
   <label>FROM</label>
  </div>
  <div class="col-sm-3">
   <label>VIA</label>
  </div>
  <div class="col-sm-3">
    <label>TO</label>
  </div>

</div>

	<div class="row">
	  <div class="col-sm-2">
	   <input class="form-control" name="day<%=day%>" id="day<%=day%>" value="<%=day%>" type="hidden"><%=day%>
	  </div>
	  <div class="col-sm-3">
	   <input class="form-control" value="<%=from%>" name="from<%=day%>" id="from<%=day%>" placeholder="from">
	  </div>
	  <div class="col-sm-3">
	   <input class="form-control" value="<%=via%>" name="via<%=day%>" id="via<%=day%>" placeholder="via">
	  </div>
	  <div class="col-sm-3">
	    <input class="form-control" value="<%=to%>" name="to<%=day%>" id="to<%=day%>" placeholder="to">
	  </div>
	  <br>
	  <div class="col-sm-offset-2 col-sm-9">
	  <br>
	  <%	
	  		var index = 1;
			if(itinerary != '' && itinerary != undefined){
	  		 var itiarray = itinerary.split('|');
	  		console.log('itiarray is '+itiarray.length);
	  		
	  		if(itiarray != ''){	  
	  	 	for(var i=0;i<itiarray.length;i++){  
	  	 		console.log('index is '+index);
	  	 	
	  	 	%>	  	 	
	  	
	   <input class="form-control itinerary_input_<%=day%>" name="adm<%=day%>_<%=index%>" id="adm<%=day%>_<%=index%>" value="<%=itiarray[i]%>"   placeholder="search code">
	   	<br>
	   <% index++; }}} %>
	   <input class="form-control itinerary_input" name="adm_<%=day%>" id="adm_<%=day%>" value=""   placeholder="search code">
	   <input type="hidden" id="admindex_<%=day%>" value="<%=index%>">
	  </div>
	 
	</div>
	<hr>
