<div class="row">
  <div class="col-sm-1">
    <label>DAY</label>
  </div>
  <div class="col-sm-3">
   <label>FROM</label>
  </div>
  <div class="col-sm-3">
   <label>VIA</label>
  </div>
  <div class="col-sm-3">
    <label>TO</label>
  </div>

</div>

	<div class="row">
	  <div class="col-sm-1">
	   <input class="form-control"  id="day<%=day%>" value="<%=day%>" type="hidden"><%=day%>
	  </div>
	  <div class="col-sm-3">
	   <input class="form-control" value="<%=from%>"  id="from<%=day%>" placeholder="">
	  </div>
	  <div class="col-sm-3">
	   <input class="form-control" value="<%=via%>"  id="via<%=day%>" placeholder="">
	  </div>
	  <div class="col-sm-3">
	    <input class="form-control" value="<%=to%>"  id="to<%=day%>" placeholder="">
	  </div>

	</div>  
	  <div id="partner_list_scenic_region"></div>
	 
	 <div class="row">
		 <div class="col-sm-offset-1 col-sm-11">
		 <br>
		 	<label>Itinerary:</label>
		 	<textarea  id="itinerary<%=day%>" class="form-control" rows="10"><%=itinerary%></textarea>
		</div>
	</div>
	 <div class="row">
		 <div class="col-sm-12">
		 <hr>
		</div>
	</div>
