  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="dayhead<%=day%>">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#passenger_list_item" href="#daycollapse<%=day%>" aria-expanded="true" aria-controls="daycollapse<%=day%>">
         <span class="text text-primary"> [Day-<%=day%>]</span>    
        </a>
          <%=from%> - <%=via%> - <%=to%>
      </h4>
    </div>
    <%if(day == 1){%>
    <div id="daycollapse<%=day%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="dayhead<%=day%>">
    <%}else{%>
    <div id="daycollapse<%=day%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dayhead<%=day%>">
    <%}%>    
    
      <div class="panel-body">
	  <div class="row">
	  <div class="col-sm-1">
	  
	   <input class="form-control" name="day<%=day%>" id="day<%=day%>" value="<%=day%>" type="hidden">
	   
	  </div>
	  <div class="col-sm-3">
	  <label>From</label>
	   <input class="form-control" value="<%=from%>" name="from<%=day%>" id="from<%=day%>" placeholder="from">
	  </div>
	  <div class="col-sm-3">
	  <label>VIA</label>
	   <input class="form-control" value="<%=via%>" name="via<%=day%>" id="via<%=day%>" placeholder="via">
	  </div>
	  <div class="col-sm-3">
	  <label>TO</label>
	    <input class="form-control" value="<%=to%>" name="to<%=day%>" id="to<%=day%>" placeholder="to">
	    
	  </div>
	  

	  <div class="col-sm-offset-1 col-sm-10">  	   
	  <br>
	    <input class="form-control breakfast_input" value="<%=breakfast%>" name="breakfast<%=day%>" id="breakfast<%=day%>" placeholder="breakfast">
	    <br>
	  </div>
	  <div class="col-sm-offset-1 col-sm-10">  	   
	   <input class="form-control lunch_input" value="<%=lunch%>" name="lunch<%=day%>" id="lunch<%=day%>" placeholder="lunch">
	   <br>
	  </div>
	  <div class="col-sm-offset-1 col-sm-10">  	    
	    <input class="form-control dinner_input" value="<%=dinner%>" name="dinner<%=day%>" id="dinner<%=day%>" placeholder="dinner">
	    <br>
  	  </div>	  
	  <div class="col-sm-offset-1 col-sm-10">  
	    <input class="form-control hotel_input" value="<%=hotel%>" name="hotel<%=day%>" id="hotel<%=day%>" placeholder="hotel">
  	  </div>

	  	  
	  <br>
	  <div class="col-sm-offset-1 col-sm-10">
	  <br>
	  <%	
	  		var index = 1;
			if(itinerary != '' && itinerary != undefined){
	  		 var itiarray = itinerary.split('|');
	  		console.log('itiarray is '+itiarray.length);
	  		
	  		if(itiarray != ''){	  
	  	 	for(var i=0;i<itiarray.length;i++){  
	  	 		console.log('index is '+index);
	  	 	
	  	 	%>	  	 	
	  	
	   <input class="form-control itinerary_input_<%=day%>" name="adm<%=day%>_<%=index%>" id="adm<%=day%>_<%=index%>" value="<%=itiarray[i]%>"   placeholder="search code">
	   	<br>
	   <% index++; }}} %>
	   <input class="form-control itinerary_input" name="adm_<%=day%>" id="adm_<%=day%>" value=""   placeholder="note or search code">
	   <input type="hidden" id="admindex_<%=day%>" value="<%=index%>">
	  </div>
	 
	</div>
	
      </div>
    </div>
  </div>  