  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="dayhead<%=day%>">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#passenger_list_item" href="#daycollapse<%=day%>" aria-expanded="true" aria-controls="daycollapse<%=day%>">
         <span class="text text-primary"> [Day-<%=day%>]</span>    
        </a>
          <%=from%> - <%=via%> - <%=to%>
      </h4>
    </div>

    <div id="daycollapse<%=day%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="dayhead<%=day%>">
    
      <div class="panel-body">
	  <div class="row">
		  <div class="col-sm-1">
		  <label>Day</label>
		   <input class="form-control"  id="day<%=day%>" value="<%=day%>" type="text" disabled>
		   
		  </div>
		  <div class="col-sm-3">
		  <label>From</label>
		   <input class="form-control" value="<%=from%>" id="from<%=day%>" placeholder="from">
		  </div>
		  <div class="col-sm-3">
		  <label>VIA</label>
		   <input class="form-control" value="<%=via%>" id="via<%=day%>" placeholder="via">
		  </div>
		  <div class="col-sm-3">
		  <label>TO</label>
		    <input class="form-control" value="<%=to%>"  id="to<%=day%>" placeholder="to">
		    
		  </div>
	  </div>
	  
	  <!-- breakfast -->
	  <div class="row">
	  	   	<input type="hidden" id="breakfast_id_<%=day%>" value="<%=breakfast._id%>">
		   	<input type="hidden" id="breakfast_code_<%=day%>" value="<%=breakfast.code%>">
		   	<input type="hidden" id="breakfast_city_<%=day%>" value="<%=breakfast.city%>">
			<input type="hidden" id="breakfast_province_<%=day%>" value="<%=breakfast.province%>">
			<input type="hidden" id="breakfast_country_<%=day%>" value="<%=breakfast.country%>">
			<input type="hidden" id="breakfast_postcode_<%=day%>" value="<%=breakfast.postcode%>">
			<input type="hidden" id="breakfast_fax_<%=day%>" value="<%=breakfast.fax%>">
			<input type="hidden" id="breakfast_contact_<%=day%>" value="<%=breakfast.contact%>">
	
						
		   <div class="col-sm-2">
		  <label>Breakfast</label>
			<input  class="form-control typeahead" type="text" id="breakfast_name_<%=day%>" value="<%=breakfast.name%>">	
		  </div>  
 
 		   <div class="col-sm-2">
 			   <label>Tel</label>
			  <input  class="form-control " type="tel" id="breakfast_telphone_<%=day%>" value="<%=breakfast.telphone%>" >
			</div>

 		   <div class="col-sm-2">
 			   <label>Payment</label>
			  <input  class="form-control " type="text" id="breakfast_payment_<%=day%>" value="<%=breakfast.payment%>" >
			</div>
			
	  	 <div class="col-sm-6">
	  		 <label>Address</label>
		  	<input  class="form-control " type="text" id="breakfast_address_<%=day%>" value="<%=breakfast.address%>" >
		  </div>
	  </div>
	  <!-- lunch -->
	  <div class="row">
	  	   	<input type="hidden" id="lunch_id_<%=day%>" value="<%=lunch._id%>">
		   	<input type="hidden" id="lunch_code_<%=day%>" value="<%=lunch.code%>">
		   	<input type="hidden" id="lunch_city_<%=day%>" value="<%=lunch.city%>">
			<input type="hidden" id="lunch_province_<%=day%>" value="<%=lunch.province%>">
			<input type="hidden" id="lunch_country_<%=day%>" value="<%=lunch.country%>">
			<input type="hidden" id="lunch_postcode_<%=day%>" value="<%=lunch.postcode%>">
			<input type="hidden" id="lunch_fax_<%=day%>" value="<%=lunch.fax%>">
			<input type="hidden" id="lunch_contact_<%=day%>" value="<%=lunch.contact%>">
	
						
		   <div class="col-sm-2">
		  		<label>Lunch</label>
				<input  class="form-control typeahead" type="text" id="lunch_name_<%=day%>" value="<%=lunch.name%>">	
		  </div>  
 
 		   <div class="col-sm-2">
 		  	 <label>Tel</label>
		 	 <input  class="form-control " type="text" id="lunch_telphone_<%=day%>" value="<%=lunch.telphone%>" >
			</div>
 		   <div class="col-sm-2">
 			   <label>Payment</label>
			  <input  class="form-control " type="text" id="lunch_payment_<%=day%>" value="<%=lunch.payment%>" >
			</div>
	  	 <div class="col-sm-6">
	  	 <label>Address</label>
		  <input  class="form-control " type="text" id="lunch_address_<%=day%>" value="<%=lunch.address%>" >
		  </div>
	  </div>	
 		<!-- Dinner -->
	  <div class="row">
	  		<input type="hidden" id="dinner_id_<%=day%>" value="<%=dinner._id%>">
		   	<input type="hidden" id="dinner_code_<%=day%>" value="<%=dinner.code%>">
		   	<input type="hidden" id="dinner_city_<%=day%>" value="<%=dinner.city%>">
			<input type="hidden" id="dinner_province_<%=day%>" value="<%=dinner.province%>">
			<input type="hidden" id="dinner_country_<%=day%>" value="<%=dinner.country%>">
			<input type="hidden" id="dinner_postcode_<%=day%>" value="<%=dinner.postcode%>">
			<input type="hidden" id="dinner_fax_<%=day%>" value="<%=dinner.fax%>">
			<input type="hidden" id="dinner_contact_<%=day%>" value="<%=dinner.contact%>">
	
						
		   <div class="col-sm-2">
		  <label>Dinner</label>
			<input  class="form-control  typeahead" type="text" id="dinner_name_<%=day%>" value="<%=dinner.name%>">	

		  </div>  
 
 		   <div class="col-sm-2">
 		   <label>Tel</label>
		  <input  class="form-control " type="text" id="dinner_telphone_<%=day%>" value="<%=dinner.telphone%>" >
			</div>
 		   <div class="col-sm-2">
 			   <label>Payment</label>
			  <input  class="form-control " type="text" id="dinner_payment_<%=day%>" value="<%=dinner.payment%>" >
			</div>
	  	 <div class="col-sm-6">
	  	 <label>Address</label>
		  <input  class="form-control " type="text" id="dinner_address_<%=day%>" value="<%=dinner.address%>" >
		  </div>
	  </div>	 	
	  
 		<!-- Hotel -->
	  <div class="row">
	  		<input type="hidden" id="hotel_id_<%=day%>" value="<%=hotel._id%>">
		   	<input type="hidden" id="hotel_code_<%=day%>" value="<%=hotel.code%>">
		   	<input type="hidden" id="hotel_city_<%=day%>" value="<%=hotel.city%>">
			<input type="hidden" id="hotel_province_<%=day%>" value="<%=hotel.province%>">
			<input type="hidden" id="hotel_country_<%=day%>" value="<%=hotel.country%>">
			<input type="hidden" id="hotel_postcode_<%=day%>" value="<%=hotel.postcode%>">
			<input type="hidden" id="hotel_fax_<%=day%>" value="<%=hotel.fax%>">
			<input type="hidden" id="hotel_contact_<%=day%>" value="<%=hotel.contact%>">
	
						
		   <div class="col-sm-2">
		  <label>Hotel</label>
			<input  class="form-control  typeahead" type="text" id="hotel_name_<%=day%>" value="<%=hotel.name%>">	
		  </div>  
 
 		   <div class="col-sm-2">
 		   <label>Tel</label>
		  <input  class="form-control " type="text" id="hotel_telphone_<%=day%>" value="<%=hotel.telphone%>" >
			</div>
 		   <div class="col-sm-2">
 			   <label>Payment</label>
			  <input  class="form-control " type="text" id="hotel_payment_<%=day%>" value="<%=hotel.payment%>" >
			</div>
	  	 <div class="col-sm-6">
	  	 <label>Address</label>
		  <input  class="form-control " type="text" id="hotel_address_<%=day%>" value="<%=hotel.address%>" >
		  </div>
	  </div>		      
	
	  <!--<div id="scenic_list_region"></div>	-->
	  <!-- Scenic -->
	  <input type="hidden" id="scenic_count_<%=day%>" value="<%=scenic.length%>">
	  <%for(var i=0;i<scenic.length;i++){%>	
	  <div class="row">
	  		<input type="hidden" id="scenic_id_<%=day%>_<%=i%>" value="<%=scenic[i]._id%>">
		   	<input type="hidden" id="scenic_code_<%=day%>_<%=i%>" value="<%=scenic[i].code%>">
		   	<input type="hidden" id="scenic_city_<%=day%>_<%=i%>" value="<%=scenic[i].city%>">
			<input type="hidden" id="scenic_province_<%=day%>_<%=i%>" value="<%=scenic[i].province%>">
			<input type="hidden" id="scenic_country_<%=day%>_<%=i%>" value="<%=scenic[i].country%>">
			<input type="hidden" id="scenic_postcode_<%=day%>_<%=i%>" value="<%=scenic[i].postcode%>">
			<input type="hidden" id="scenic_fax_<%=day%>_<%=i%>" value="<%=scenic[i].fax%>">
			<input type="hidden" id="scenic_contact_<%=day%>_<%=i%>" value="<%=scenic[i].contact%>">
	
						
		   <div class="col-sm-2">
		  <label>Admission_<%=i+1%></label>
			<input  class="form-control  typeahead" type="text" id="scenic_name_<%=day%>_<%=i%>" value="<%=scenic[i].name%>"  >	
		  </div>  
 
 		   <div class="col-sm-2">
 		   <label>Tel</label>
		  <input  class="form-control " type="tel" id="scenic_telphone_<%=day%>_<%=i%>" value="<%=scenic[i].telphone%>"  >
			</div>
 		   <div class="col-sm-2">
 			   <label>Payment</label>
			  <input  class="form-control " type="text" id="scenic_payment_<%=day%>_<%=i%>" value="<%=scenic[i].payment%>"  >
			</div>
	  	 <div class="col-sm-6">
	  	 <label>Address</label>
		  <input  class="form-control " type="text" id="scenic_address_<%=day%>_<%=i%>" value="<%=scenic[i].address%>"  >
		  </div>
	  </div>			
	  	 <%}%> 
	  	 
	  	 
	 <div class="row">
		 <div class="col-sm-12">
		 <br>
		 	<label>Itinerary:</label>
		 	<textarea  id="itinerary<%=day%>" class="form-control" rows="10"><%=itinerary%></textarea>
		</div>
	</div>	  
	 
	
	
      </div>
    </div>
  </div>  