     
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close dismiss" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-<%= icon %>"></span> <%= title %></h4>
        </div>
        <div class="modal-body">
	      <form>
	        <div class="form-group">
	          <label for="contact-firstName" class="control-label">Code:</label>
	          <input id="case-subject" class="form-control input-default" name="subject" type="text" size="80" value=""/>
	        </div>
	        <div class="form-group">
	          <label for="contact-firstName" class="control-label">Start Date:</label>
	          <input id="case-subject" class="form-control input-default" name="subject" type="text" size="80" value=""/>
	        </div>
	        <div class="form-group">
	          <label for="contact-phoneNumber" class="control-label">tags:</label>
	          <input id="case-tags" class="form-control input-default" name="tags" size="40" type="text" value=""/>
	        </div>
	
	      </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm dismiss" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->      