<td><%=status%></td>
<td><a href="#tour_info/<%=_id%>"><%=code%></a> </td>
<td><%=name%></td>

<td><%=days%></td>
<td><%=departuredate%></td>


<td>
 	<a href="#confirmation/<%=code%>">Confirmation</a> 
|  <a href="#invoice/<%=code%>">Invoice</a>

</td>
<td>
	<a href="#report/tour/namelist4guide/<%=_id%>">Guide</a> |  
	<a href="#report/tour/namelist4hotel/<%=_id%>" >Hotel</a>
</td>
<td>
	<a class="glyphicon glyphicon-print" href="#report/tour/schedule/<%=_id%>"></a>
</td>
<!-- <td><a class="glyphicon glyphicon-remove a_route_delete"></a></td> -->
