<div id="tour-info-template">

	 <div class="row">	
      <h2>[00001] - 4 days Canada tour</h2>
	 <hr>
	
 	  </div>	
 		
 	 <div class="row">
 	 	<div class="col-md-6">
 	 	
 	 		<div class="row">
			  <table  width="100%">
			  		<tr>
			  			<td align="right">OP:</td><td class="text text-primary">Helen</td>
			  			<td align="right">Guide:</td><td class="text text-primary">Jack</td>
			  			<td align="right">Days:</td><td class="text text-primary">4</td>
			  			<td align="right">Start Date:</td><td class="text text-primary">2015-4-30</td>
			  		</tr>  	 		   			
			  </table> 	 		
 	 		</div>
 	 		<div class="row">
 	 		<hr>
			<!-- itinerary -->
			
			<div role="tabpanel">
			
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#day1" aria-controls="home" role="tab" data-toggle="tab">Day-1</a></li>
			    <li role="presentation"><a href="#day2" aria-controls="profile" role="tab" data-toggle="tab">Day-2</a></li>
			    <li role="presentation"><a href="#day3" aria-controls="messages" role="tab" data-toggle="tab">Day-3</a></li>
			    <li role="presentation"><a href="#day4" aria-controls="settings" role="tab" data-toggle="tab">Day-4</a></li>
			  </ul>
			
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="day1">

			    <h4>Banff -  Calgary</h4>

					<ul class="list-group">
					  <li class="list-group-item">B: Hotel </li>
					  <li class="list-group-item">Banff </li>
					  <li class="list-group-item">L: Kelowna</li>
					  <li class="list-group-item">Victoria</li>
					  <li class="list-group-item">D: N/A</li>
					</ul>				
				</div>
			    <div role="tabpanel" class="tab-pane" id="day2">
			    <h4>Calgary -  Sas</h4>			    
					<ul class="list-group">
					  <li class="list-group-item">B: Hotel </li>
					  <li class="list-group-item">Banff </li>
					  <li class="list-group-item">L: Kelowna</li>
					  <li class="list-group-item">Victoria</li>
					  <li class="list-group-item">D: N/A</li>
					</ul>					
				</div>
			    <div role="tabpanel" class="tab-pane" id="day3">
			    <h4>Sas -  Toronto</h4>			    
					<ul class="list-group">
					  <li class="list-group-item">B: Hotel </li>
					  <li class="list-group-item">Banff </li>
					  <li class="list-group-item">L: Kelowna</li>
					  <li class="list-group-item">Victoria</li>
					  <li class="list-group-item">D: N/A</li>
					</ul>					
				</div>
			    <div role="tabpanel" class="tab-pane" id="day4">
			    <h4>Toronto -  Vancouver</h4>				    
					<ul class="list-group">
					  <li class="list-group-item">B: Hotel </li>
					  <li class="list-group-item">Banff </li>
					  <li class="list-group-item">L: Kelowna</li>
					  <li class="list-group-item">Victoria</li>
					  <li class="list-group-item">D: N/A</li>
					</ul>				    
			    </div>
			  </div>
			
			</div>
			</div>   	 	
 	 	</div>
 	 	<div class="col-md-1">
 	 	</div>
 	 	<div class="col-md-5">
 	 		<div class="row">
		  		<!-- buses -->
		
						<div class="panel panel-default">
						  <div class="panel-heading">Passengers</div>
						  <div class="panel-body">
							  <table width="100%">
						  		<tr>
						  		<th>Name</th><th>Type</th><th>Pickup</th><th>Dropoff</th>
						  		</tr>
						  		<tr>
						  		<td>Tim</td><td>Adult</td><td>41th ST, Vancouver </td><td>23 AVE, Richmond</td>
						  		</tr>  	
						  		<tr>
						  		<td>Byran</td><td>Adult</td><td>41th ST, Vancouver </td><td>23 AVE, Richmond</td>
						  		</tr> 
						  		<tr>
						  		<td>Lily</td><td>Adult</td><td>41th ST, Burnaby </td><td>23 AVE, Richmond</td>
						  		</tr>  	
						  		<tr>
						  		<td>Julia</td><td>Adult</td><td>41th ST, Vancouver </td><td>23 AVE, Richmond</td>
						  		</tr>
						  		<tr>
						  		<td>Carl</td><td>Child</td><td>42th ST, Langley </td><td>23 AVE, Richmond</td>
						  		</tr>  	
						  		<tr>
						  		<td>Kelly</td><td>Adult</td><td>41th ST, Surrey </td><td>23 AVE, Richmond</td>
						  		</tr>						  								  		
							</table>			  		
						  </div>
						</div>   	 		
 	 		</div>
			<div class="row">
  		<!-- passenger -->
			
  			<div class="panel panel-default">
				  <div class="panel-heading">Buses</div>
				  <div class="panel-body">
					  <table width="100%">
				  		<tr>
				  		<th>ID</th><th>Seats</th><th>Driver</th><th>Phone</th>
				  		</tr>
				  		<tr>
				  		<td>001</td><td>20</td><td>Bruce</td><td>778-877-9090</td>
				  		</tr>  	
				  		<tr>
				  		<td>002</td><td>15</td><td>Tom</td><td>778-877-9123</td>
				  		</tr> 
					</table>			  		
				  </div>
				</div>  	 		
 	 		</div> 	 		
 	 	</div>
 	 
 	 </div>	
			



	

 

</div>