<div id="login-template" class="container">
       <h3>Voucher List</h3>
       <hr>
			<form class="form-inline">
			  <div class="form-group">

			    <input type="text" class="form-control" id="exampleInputName2" placeholder="Code">
			  </div>
			  <div class="form-group">
	
			    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Tour">
			  </div>
			  <button type="submit" class="btn btn-default">Search</button>
			</form>		
		
			<br>       
	
			<table class="table">
				<tr>
					<th>Code</th>
					<th>To</th>
					<th>Date</th>
					<th>Tour</th>			

				</tr>

		 </table>	
</div>