<div id="voucher-info-template" class="container">
	<!-- header -->
	
	
	<table width="100%" class="table" > 
		<tr>
			<td><img src="../img/logo.png"></td>
			<td colspan=3> <h2 class="text text-primary">CANTOP TOURS & TRAVEL LTD --<small>Confirmation</small></h2> </td>

		</tr>
		<tr>
			<td>
				<B>TO</B>: <br>
				First Express Travel Center Limited<BR>
				#203-3884 S.W. Marine Drive<br>
				Vancouver B.C.<BR>
				Canada  V3ST3W <BR><BR>
				
				Phone : (604)342-2345 <br>
				Fax : (604)342-2345
			</td>
			<td></td>
			<td></td>
			<td>
				<b>Date</b> : 2015-6-20 <BR><br>
				<b>Confirmation No.</b> : T02EIU83
				
				<br><br>
				<table border="1" width="100%">
					<tr>
						<th>Booking Date</th>
						<th>Your Contact</th>
						<th>Our Contact</th>
					</tr>
					<tr>
						<td>2015-4-25</td>
						<td>Admin</td>
						<td>Helen</td>
					</tr>
				</table>
			</td>

		</tr>
          

	<!-- tour info -->
		<tr>
			<th>Tour Name</th>
			<th>Passenger Name</th>
			<th>Fare Type</th>
			<th>Pickup Place/Time</th>
		</tr>
		
		<tr>
			<td rowspan="5"><b>4-Day spectacular rockies</b>
			<BR> Departure : 20-Feb-2015
			</td>
			<td>
			  MS. A
			</td>
			<td>Admission</td>
			<td>Yaohan Center 10:20am</td>
			
		</tr>
		<tr>
			
			<td>
			  MS. SDFDS
			</td>
			<td>Admission</td>
			<td>Richmond Center</td>
			
		</tr>
						<tr>
			
			<td>
			  MS. ED
			</td>
			<td>Admission</td>
			<td>Langley Center</td>
			
		</tr>
		<tr>
			
			<td>
			  MS. ADR
			</td>
			<td>Admission</td>
			<td>BC PLACE  9:00am</td>
			
		</tr>
		<tr>
			
			<td>
			  MS. RTE
			</td>
			<td>Admission</td>
			<td>Airport  10:00am</td>
			
		</tr>		
		
		<!-- second tour -->
		
		<tr>
			<td rowspan="5"><b>Victoria Meal Plan</b>
			<BR> Departure : 20-Feb-2015</td>
			<td>
			  MS. Ads
			</td>
			<td>Admission</td>
			<td>Yaohan Center 10:20am</td>
			
		</tr>
		<tr>
			
			<td>
			  MR. SDFDsdfsS
			</td>
			<td>Adult</td>
			<td>Richmond Center</td>
			
		</tr>
						<tr>
			
			<td>
			  MS. EDsdf
			</td>
			<td>Admission</td>
			<td>Langley Center</td>
			
		</tr>
		<tr>
			
			<td>
			  MR. ADRsdf
			</td>
			<td>Adult</td>
			<td>BC PLACE  9:00am</td>
			
		</tr>
		<tr>
			
			<td>
			  MR. RTsdfasE
			</td>
			<td>Admission</td>
			<td>Airportsdf  10:00am</td>
			
		</tr>				
	<!-- meal plan -->
	
	<!-- remarks -->
		<tr>
			<td colspan="4">
				<h4><b>Remarks:</b></h4>
				This is just a sample page, so all information are not real. The layout is also copied from previous voucher, so we need create a new one by 
				referring this.
			</td>
		</tr>
	</table>
</div>