<div id="login-template" class="container">
       <h3  class="text text-lg text-primary">Voucher List</h3>
       <hr>
			<form class="form-inline">
			  <div class="form-group ">

			    <input type="text" class="form-control" id="exampleInputName2" placeholder="Code">
			  </div>

			  <button type="submit" class="btn btn-primary">Search</button>
			</form>		
		
			<br>       
	
			<table class="table">
				<tr>
					<th>Code</th>
					<th>To</th>
					<th>Date</th>
					<th>Tour</th>			

				</tr>
				<tr>
					<td><a href="#voucher_info">2312</a></td>
					<td>First Express Travel Center</td>
					<td>2015-5-20</td>
					<td>4-Day spectacular rockies</td>
				</tr>
		 </table>	
</div>