body {  position: relative;}
.info{font-size:14px;}

.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}
.suncolor{color: #27AF56;}
.sunstyle{padding: 13.333px 20px; font-size: 13px; color: #484848; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-top: 0px; margin-bottom: 20px;  border-width: 0px 0px 0px 2px; border-left-style: solid; border-left-color: rgba(120, 120, 120, 0.34902); white-space: pre-wrap; word-break: normal; word-wrap: break-word; overflow: auto; background-color: #eff1f1;}